PORT=3000
DATABASE_PATH=./data/bans.sqlite
BOT_TOKEN=replace with YOUR Discord bot token from https://discord.com/developers/applications
BOT_CLIENT_ID=replace with YOUR Discord bot client ID from https://discord.com/developers/applications
BOT_API_TOKEN=replace with YOUR Discord bot API token from https://discord.com/developers/applications
FIVEM_API_TOKEN=replace with YOUR FiveM API token from https://keymaster.fivem.net/